body{
    margin-top: 65px;
    width: 100%;
}

p{
    margin-bottom: 20px;
}

header {
    background-color: #fefbe0; 
    color: #253624; 
    position: fixed; 
    top: 0; left: 0;
    width: 100%; 
    text-align: center; 
    z-index: 1;
}

.wishlist1 {
    background-color: #bb2527; 
    height: 400px; 
    padding: 50px; 
    display: flex; 
    justify-content: center;
}

.wl_image {
    height: 300px; 
    border-radius: 3% 0 0 3%;
}

.wl1_caption{
    background-color: #198039; color: #fefbe0 ; 
    border-radius: 0 3% 3% 0; 
    height: 300px; width: 400px; 
    padding:20px 50px 50px 50px; 
}

.a1 {
    background-color: #bb2527; color: #fefbe0; 
    margin-top: 30px;
}


.wishlist2 {
    background-color: #198039; 
    height: 400px; 
    padding: 50px; 
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: center;
}

.wl2_image {
    height: 300px; 
    border-radius: 0 3% 3% 0;
}

.wl2_caption{
    background-color: #bb2527; 
    color: #fefbe0 ; 
    border-radius: 3% 0 0 3%; 
    width:400px; 
    padding: 20px 50px 50px 50px;
}

.a2 {
    background-color: #198039; color: #fefbe0; 
    margin-top: 30px;
}

.wishlist3 {
    background-color: #bb2527; 
    height: 400px; 
    padding: 50px ; 
    display: flex; 
    justify-content: center;
 }

div.minor_wishlist {
    background-color: #198039;

}

 section.minor_wishlist{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    padding-top: 50px;
    padding-bottom: 40px;
 }

section.minor_wishlist ul {
    background-color:#bb2527;
    list-style: none;
    padding: 20px;
}

section.minor_wishlist div.input-wish{
    display: flex;
    justify-content: center;
}

section.minor_wishlist div.input-wish .minor-wish {
    background-color: #fefbe0;
    border-top-left-radius: 2% 18%;
    border-color: #253624;
    border-width: 1px;
    width: 75%;
    padding: 10px;
}

section.minor_wishlist div.input-wish .add_wish_button {
    background-color:#fefbe0;
    color:#253624;
    border-top-right-radius: 6% 15%; 
    border-color: #253624;
    border-width: 2px;
    width: 25%;    
    padding: 0;
    margin: 0;
}

section.minor_wishlist div.extensionLabel {
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    background-color: #bb2527; 
    color:#fefbe0;
}

section.minor_wishlist ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 175%;
}

section.minor_wishlist ul li .minorWishDiv {
    padding-right: 20px;
    color:  #fefbe0;
}

section.minor_wishlist ul li input.wishlistCheckbox {
    margin: 0;
}

footer {
    padding: 15px 35px 15px; 
    text-align: end; 
    background-color: #fefbe0; 
    color: #253624;
}

.footer_img{
    height: 30px;
}



/***********************************
************TABLET*****************/

@media only screen and (max-width: 768px) {
    body {
        background-color: #253624; color: #fefbe0;
    }

    header {
        background-color: #2c4c3b; color: #fefbe0;

    }
    
    .wishlist1 {
        background-color: #253624; color: #fefbe0; 
        height: 300px;
        
    }
    
    .wl1_caption{
        background-color: #2c4c3b; color: #fefbe0; 
        padding: 20px; height: 250px;
    }
    
    .a1 {
        color: #253624; background-color: #fefbe0 

    }
    
    .wl_image {
        height: 250px;
    }

    .wishlist2 {
        background-color: #253624; color: #fefbe0; 
        height: 300px;

    }
    
    .wl2_caption{
        background-color: #2c4c3b; color: #fefbe0; 
        padding: 20px; height: 250px;
    }
    
    .a2 {
        color: #253624; background-color: #fefbe0;
    }

    .wl2_image {
        height: 250px;
    }
    
    .wishlist3 {
        background-color: #253624; color: #fefbe0; 
        height: 350px;
    }

    div.minor_wishlist {
        background-color: #253624;   
    }

    section.minor_wishlist{
        padding-top: 0;
    }

    section.minor_wishlist #minor-wish {
       color: #253624;
     
    }

    #extensionLabel {
        background-color:#2c4c3b;
    }

    section.minor_wishlist ul {
        background-color:#2c4c3b;
    
    }
    
    footer {
        background-color: #2c4c3b; color: #fefbe0;

    }

    
}

/***********************************
************MOBILE*****************/
@media only screen and (max-width: 576px){
    body {
    margin-top: 40px;
    }

    header h1 {
        text-align: start; 
        padding-left: 30px;
        font-size: medium;
    }  
     
    .wishlist1 {
        height: auto; display: block;
    }
     
    .wl_image {
        height: auto; width: 280px; 
        border-radius: 3% 3% 0 0;
    }
     
    .wl1_caption{
        display: flex; 
        flex-direction: column; 
        justify-content: space-between; 
        align-items: center;
        border-radius: 0 0 3% 3%; 
        height: 280px; width: 280px; 
        padding:30px; 
        text-align: center;
    }
     
    .a1 {
        width: min-content;
    }
     
     
    .wishlist2 {
        height: auto; 
        display: block; 
        padding-top: 0;
    }
     
    .wl2_image {
        height: auto; 
        width: 280px; 
        border-radius: 3% 3% 0 0;    }
     
    .wl2_caption{
        display: flex; 
        flex-direction: column; 
        justify-content: space-between; 
        align-items: center;
        border-radius: 0 0 3% 3%; 
        height: 280px; width: 280px; 
        padding:30px; 
        text-align: center; 
    }
     
    .a2 {
        margin-top: 30px;
    }
     
    .wishlist3 {
        height: auto; display: block; padding-top: 0;   
    }

    section.minor_wishlist div.input-wish{
        flex-direction: column;
        justify-content: center;
    }

    section.minor_wishlist{
        width: 300px;
    }

    section.minor_wishlist #minor-wish {
        width: 100%;
        border-top-right-radius: 2% 18%;
    }
    
    section.minor_wishlist #add_wish_button {
        width: 100%;    
        border-top-right-radius: 0;
        border-width: 1px;
        height: 30px;
    }

    section.minor_wishlist ul {
        line-height: 150%;
        padding: 10px;
    }

    section.minor_wishlist .display-wish {
        padding: none;
        margin: none;
        vertical-align: center;
    }
     
    footer {
        text-align: center; 
        padding:10px; padding-bottom: 0; 
        font-size: 12px; 
        margin-right: -2px;
    }

    footer span {
        display: block;
    }
     
    .footer_img{
        height: 40px;
    }

    div.mobile{
        display: flex; justify-content: center;
    }

}

   












